---
// Layout Structure format
import Layout from '../layouts/Layout.astro';

// Components Page of Anime Card, Props used
import AnimeCard,  { AnimeProp } from '../components/AnimeCard.astro';
// import LoadMore from '../components/LoadMore.astro';

// Sample data to fetch in Section tag
// import { data } from '../data/_data';

// API - Endpoint to collect data and display in Section tag
const fetchAnime = async (page: number) => {
    const response = await fetch(`https://shikimori.one/api/animes?page=${page}&limit=60&order=popularity`);
    const data = await response.json();
	return data;
}

// Terminal to fetch data
console.log(fetchAnime);

// In Main Page to fetch limit set as 8 display only 8, we can change the limit  
const data = await fetchAnime(1);

// AnimeProps used in AnimeCard.astro 
const { AnimeProp } = Astro.props;
---

<Layout title="Adithya - Anime Vault" description="Your favorite anime, all in one place">
	<main>
		<main class="sm:p-16 py-16 px-8 flex flex-col gap-10">
			<h2 class="text-3xl text-white font-bold">Explore Anime</h2>
			<section class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10">
				{data.map((item: AnimeProp, index: number) => (
					<AnimeCard key={item.id} anime={item} index={index} />
				))}
			</section>
			<!-- <LoadMore /> -->
		</main>
	</main>
</Layout>