---
// Components Page
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Styles Page
import "../styles/global.css";

interface Props {
	title: string;
	description : string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./assets/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="max-w-7xl mx-auto bg-[#0F1117]">
			<Nav />
			<slot />
			<Footer />
		</main>
	</body>
</html>
